PyYAML==3.11
RPi.GPIO==0.5.11
argparse==1.2.1
beautifulsoup4==4.5.1
chardet==2.0.1
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
gcm==0.3
lxml==2.3.2
mcpi==0.1.1
ndg-httpsclient==0.4.2
numpy==1.6.2
picamera==1.9
pifacecommon==4.1.2
pifacedigitalio==3.0.4
pyOpenSSL==16.1.0
pyasn1==0.1.9
pygame==1.9.1release
pygobject==3.8.2
pyserial==2.5
python-gcm==0.2
requests==2.8.0
tabulate==0.7.5
telegram==0.0.1
wsgiref==0.1.2
